@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

:root {
  --main-bg-clr: hsl(0, 0%, 96%);
}

/* Resets */
body {
  font-family:
    "Outfit",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  color: hsl(0, 0%, 12%);
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}
select {
  -webkit-appearance: none;
  appearance: none;
}

@media (pointer: fine) {
  button,
  select {
    cursor: pointer;
  }
}

/* Utils */
.height-screen {
  height: 100vh;
  height: 100dvh;
}
